.div-flexbox {
  align-items: center;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  text-align: center;
  width: fit-content;
}
